<div class="container">
  <div class="col-md-12 border p-4">
    <div class="col-md-10 formStyle">
      <form class="ng-untouched ng-pristine ng-valid">
        <h4 class="text-center bg-primary p-2 rounded text-white">
          Klant Details
        </h4>
        <div class="form-group">
          <label for="companyName">Klantnaam:</label>
          <input
            class="form-control my-2"
            id="companyName"
            required
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="contactName">Contactnaam:</label>
          <input
            class="form-control my-2"
            id="contactName"
            name="contactName"
            placeholder=""
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="address">Adres:</label>
          <input
            class="form-control my-2"
            id="address"
            name="address"
            placeholder=""
            type="text"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            id="houseNumber"
            name="houseNumber"
            placeholder=""
            type="hidden"
            value=""
          />
        </div>
        <div class="form-group">
          <label for="postalCode">Postcode:</label>
          <input
            class="form-control my-2"
            id="postalCode"
            name="postalCode"
            placeholder=""
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="city">Plaats:</label>
          <input
            class="form-control my-2"
            id="city"
            name="city"
            placeholder=""
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="country">Land:</label>
          <div>
            <select class="form-control my-2 selectpicker">
              <option value="1">AFGHANISTAN</option>
              <option value="2">ALBANIA</option>
              <option value="3">ALGERIA</option>
              <!-- Add more options here -->
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="city">Vat number:</label>
          <input
            class="form-control my-2"
            id="city"
            name="city"
            placeholder=""
            type="text"
          />
        </div>
      </form>
    </div>
    <button class="btn btn-primary">Save</button>
    <button class="btn btn-danger m-3">Cancel</button>
  </div>
</div>
