<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row border p-4" style="background-color: #f5f6fa">
    <div class="row text-center">
      <h2
        style="
          display: inline-block;
          margin-bottom: 30px;
          text-transform: uppercase;
        "
      >
        Client Details
      </h2>
    </div>
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label class="mb-2">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          placeholder="Client Name"
          name="companyName"
          [(ngModel)]="customerDetailsInfo[0].companyName"
        />
      </div>
      <div class="form-group col-md-6 mb-3">
        <label class="mb-2">Contact</label>
        <input
          type="text"
          class="form-control"
          id="inputPassword4"
          placeholder="Contact"
          name="contactName"
          [(ngModel)]="customerDetailsInfo[0].contactName"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label class="mb-2">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          placeholder="Address"
          name="address"
          [(ngModel)]="customerDetailsInfo[0].address"
        />
      </div>
      <div class="form-group col-md-6 mb-3">
        <label class="mb-2">Post Code</label>
        <input
          type="text"
          class="form-control"
          id="inputPassword4"
          placeholder="Post Code"
          name="postalCode"
          [(ngModel)]="customerDetailsInfo[0].postalCode"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label class="mb-2">Place</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          placeholder="Place"
          name="city"
          [(ngModel)]="customerDetailsInfo[0].city"
        />
      </div>
      <div class="form-group col-md-6 mb-3">
        <label class="mb-2">State</label>
        <select
          id="countryCode"
          class="form-control"
          name="countryCode"
          [(ngModel)]="customerDetailsInfo[0].countryCode"
        >
          <option
            *ngFor="let country of countries"
            [value]="country.id"
            [selected]="country.id === customerDetailsInfo[0].countryCode"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label class="mb-2">Vat Number</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          placeholder="Vat Number"
          name="vatNumber"
          [(ngModel)]="customerDetailsInfo[0].vatNumber"
        />
      </div>
      <div class="form-group col-md-6 mb-3">
        <button class="btn btn-primary">Save</button>
        <button
          class="btn btn-danger m-3"
          (click)="globalBooleanService.toggleCustomer()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
