<section class="tile tile-recipts tiel-focus border-0">
  <div class="content">
    <form class="">
      <div class="form-content">
        <div class="form-header position-relative">
          <div class="form-left position-relative z-2">
            <img class="logo" src="/assets/logo.png" />
          </div>
          <div class="form-right">
            <div class="row">
              <div class="col-md-4">
                <div class="fontStyle">
                  <label class="fw-bold">{{ company }}</label>
                </div>

                <label for="labelOfCountry">{{ address }} {{ number }}</label>
                <label for="labelOfCountry">{{ zipCode }} {{ city }}</label>
              </div>
              <div class="col-md-4">
                <label for="labelOfCountry" *ngIf="phone"
                  >Tel: {{ phone }}</label
                >
                <br />
                <label for="labelOfCountry" *ngIf="kvkNumber"
                  >KvK: {{ kvkNumber }}</label
                >
              </div>
              <div class="col-md-4">
                <label for="labelOfCountry" *ngIf="btwNumber"
                  >BTW: {{ btwNumber }}</label
                >
                <br />
                <label for="labelOfCountry" *ngIf="accountNumber"
                  >Bank: {{ accountNumber }}</label
                >
              </div>
            </div>
          </div>
          <div class="form-vector"></div>
        </div>
        <div class="edit-info">
          <div class="info-left mt-4">
            <div
              class="rounded"
              (click)="globalBooleanService.toggleCustomer()"
              *ngIf="
                !globalBooleanService.globalCustomerBoolean;
                else customerDetails
              "
            >
              <div *ngFor="let customer of customerDetailsInfo; let i = index">
                <div>
                  <span class="fs-3 fw-bold">
                    {{ customer.companyName }}
                    <img width="35" src="/assets/edit.svg" alt=""
                  /></span>
                </div>
                <div>
                  <span>{{ customer.contactName }}</span>
                </div>
                <div>
                  <span>{{ customer.address }}</span>
                </div>
                <div>
                  <span>{{ customer.postalCode }} {{ customer.city }} </span>
                </div>
              </div>
            </div>
          </div>

          <div class="info-right mt-4 ps-2">
            <h6 class="title">Invoice</h6>

            <div
              class="info-date"
              (click)="globalBooleanService.toggleInvoice()"
              *ngIf="
                !globalBooleanService.globalInvoiceBoolean;
                else invoiceDetails
              "
              style="margin: 0 10px 6px 10px"
            >
              <div class="info-date-item">
                <p class="info-title">Invoice No:</p>
                <p class="info-dsc" for="labelInvoice">
                  {{ invoice && invoice[0] ? invoice[0].invoiceNumber : "" }}
                </p>
              </div>
              <div class="info-date-item">
                <p class="info-title">Invoice Refarence:</p>
                <p class="info-dsc" for="">
                  {{ invoice && invoice[0] ? invoice[0].reference : "" }}
                </p>
              </div>
              <div class="info-date-item">
                <p class="info-title">Invoice Date:</p>
                <p class="info-dsc" for="labelInvoiceDate">
                  {{ invoice && invoice[0] ? invoice[0].invoiceDate : "" }}
                </p>
                <small for="labelPayDueDate">18-06-2023</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <ng-template #customerDetails>
            <div class="container">
              <app-customer-details
                [customerDetailsInfo]="customerDetailsInfo"
              ></app-customer-details>
            </div>
          </ng-template>

          <ng-template #invoiceDetails>
            <div class="container">
              <app-invoice-details [invoice]="invoice"> </app-invoice-details>
            </div>
          </ng-template>

          <div class="container">
            <app-product-details
              [invoiceText]="invoiceText"
            ></app-product-details>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
