<section class="tile tile-recipts tiel-focus border-0">
  <div class="content">
    <form class="">
      <div class="form-content">
        <div class="form-header position-relative">
          <div class="form-left position-relative z-2">
            <img class="logo" src="/assets/logo.png" />
          </div>
          <div class="form-right">
            <div class="row">
              <div class="col-md-4">
                <div class="fontStyle">
                  <label class="fw-bold">Gitanjali Code Rhythm</label>
                </div>
                <label for="labelOfCountry">Sabalia 8</label
                ><label for="labelOfCountry">1111AA Tangail</label>
              </div>
              <div class="col-md-4">
                <label for="labelOfCountry" *ngIf="phoneNumber"
                  >Tel: {{ phoneNumber }}</label
                >
                <br />
                <label for="labelOfCountry" *ngIf="chamberOfCommerce"
                  >KvK: {{ chamberOfCommerce }}</label
                >
              </div>
              <div class="col-md-4">
                <label for="labelOfCountry" *ngIf="vatNumber"
                  >BTW: {{ vatNumber }}</label
                >
                <br />
                <label for="labelOfCountry" *ngIf="bank"
                  >Bank: {{ bank }}</label
                >
              </div>
            </div>
          </div>
          <div class="form-vector"></div>
        </div>
        <div class="edit-info">
          <div class="info-left mt-4">
            <div
              class="rounded"
              (click)="handleCustomerComponent()"
              *ngIf="!handleCustomerCompo; else customerDetails"
            >
              <div>
                <span class="fs-3 fw-bold"
                  >Gitanjali Code Rhythm
                  <img width="35" src="/assets/edit.svg" alt=""
                /></span>
              </div>
              <div>
                <span>Nikunja Behari Goswami</span>
              </div>
              <div>
                <span>Sabalia</span>
              </div>
              <div>
                <span>1900 Tangail</span>
              </div>
            </div>
          </div>
          <div class="info-right mt-4 ps-2">
            <h6 class="title">Invoice</h6>
            <div
              class="info-date"
              (click)="handleInvoiceComponent()"
              *ngIf="!handleInvoice; else invoiceDetails"
            >
              <div class="info-date-item">
                <p class="info-title">Invoice No:</p>
                <p class="info-dsc" for="labelInvoice">2023-100</p>
              </div>
              <div class="info-date-item">
                <p class="info-title">Invoice Refarence:</p>
                <p class="info-dsc" for="">125444</p>
              </div>
              <div class="info-date-item">
                <p class="info-title">Invoice Date:</p>
                <p class="info-dsc" for="labelInvoiceDate">19-05-2023</p>
                <small for="labelPayDueDate">18-06-2023</small>
              </div>
              <!-- <div class="fontStyle">
                <span class="col-md-8" for="labelInvoice">2023-100</span>
                <span class="col-md-4" for="labelInvoiceDate">19-05-2023</span>
              </div>
              <div class="fontStyle">
                <label class="col-md-8" for="labelInvoice"></label>
                <span
                  class="col-md-4"
                  for="labelPayDueDate"
                  style="float: right"
                  >18-06-2023</span
                >
              </div> -->
            </div>
          </div>
        </div>

        <div class="row">
          <ng-template #customerDetails>
            <div class="container">
              <app-customer-details></app-customer-details>
            </div>
          </ng-template>

          <ng-template #invoiceDetails>
            <div class="container">
              <app-invoice-details></app-invoice-details>
            </div>
          </ng-template>

          <div class="container">
            <app-product-details></app-product-details>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
