<section class="tile tile-recipts tiel-focus">
  <div class="content">
    <form class="border shadow p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 float-start col-md-offset">
            <img class="logo" style="margin-left: 45px" src="" />
            test
          </div>
          <div class="col-md-4 float-end col-md-offset">
            <div class="fontStyle">
              <label>Gitanjali Code Rhythm</label>
            </div>
            <label for="labelOfCountry">Sabalia 8</label>
            <br />
            <label for="labelOfCountry">1111AA Tangail</label>
            <br />
            <label for="labelOfCountry" *ngIf="phoneNumber"
              >Tel: {{ phoneNumber }}</label
            >
            <br />
            <label for="labelOfCountry" *ngIf="chamberOfCommerce"
              >KvK: {{ chamberOfCommerce }}</label
            >
            <br />
            <label for="labelOfCountry" *ngIf="vatNumber"
              >BTW: {{ vatNumber }}</label
            >
            <br />
            <label for="labelOfCountry" *ngIf="bank">Bank: {{ bank }}</label>
          </div>
        </div>

        <div class="container">
          <div
            class="row"
            (click)="handleCustomerComponent()"
            *ngIf="!handleCustomerCompo; else customerDetails"
          >
            <div class="col-md-12">
              <div
                class="row rounded mt-4"
                style="background-color: #e2e0e0; color: #000; cursor: pointer"
              >
                <div
                  class="container col-md-4 my-4 p-4"
                  style="margin-left: 0%; margin-top: 30px; cursor: pointer"
                >
                  <div>
                    <span class="fontStyle">Gitanjali Code Rhythm</span>
                  </div>
                  <div>
                    <span>Nikunja Behari Goswami</span>
                  </div>
                  <div>
                    <span>Sabalia</span>
                  </div>
                  <div>
                    <span>1900 Tangail</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            class="col-md-12 mt-5 hoverStyle"
            style="
              margin-top: 0px;
              background-color: #e2e0e0;
              color: #000;
              cursor: pointer;
            "
            (click)="handleInvoiceComponent()"
            *ngIf="!handleInvoice; else invoiceDetails"
          >
            <div class="fontStyle">
              <span class="col-md-8" for="labelInvoice">2023-100</span>
              <span class="col-md-4" for="labelInvoiceDate">19-05-2023</span>
            </div>
            <div class="fontStyle">
              <label class="col-md-8" for="labelInvoice"></label>
              <span class="col-md-4" for="labelPayDueDate" style="float: right"
                >18-06-2023</span
              >
            </div>
          </div>
        </div>

        <ng-template #customerDetails>
          <div class="container my-5">
            <app-customer-details></app-customer-details>
          </div>
        </ng-template>

        <ng-template #invoiceDetails>
          <div class="container my-5">
            <app-invoice-details></app-invoice-details>
          </div>
        </ng-template>

        <div class="container my-5">
          <app-product-details></app-product-details>
        </div>
      </div>
    </form>
  </div>
</section>
